body {
    background-color: rgb(209, 164, 224);
    color: #e71a65;
}
h2 {
    text-align: center;
    font-size: 300%;
}
img {
    border-style: solid;
    border-width: 5px 20px;
    width: 20%;
}
h1 {
    text-align: center;
    font-size: 200%;
}
a {
    text-align: center;
    font-size: 150%;
}
table {
    font-size: 150%;
    border-style: dotted;
    border-width: thick;
}